html
  head
    block title
      title 微蚁科技后台管理系统
    block metas
      meta(charset='utf-8')
    block stylesheets
      link(rel='stylesheet' type='text/css' href='/admin/lib/antd.min.css')
  body
    block content
      div(id='app')
    block scripts  
      script(type='text/javascript' src='/admin/lib/react-with-addons.min.js')
      script(type='text/javascript' src='/admin/lib/react-dom.min.js')
      script(type='text/javascript' src='/admin/lib/reflux.min.js')
      script(type='text/javascript' src='/admin/lib/ReactRouter.min.js')  
      script(type='text/javascript' src='/admin/lib/antd.min.js')
      script(type='text/javascript' src='/admin/lib/bluebird.core.min.js')
      script(type='text/javascript' src='/admin/lib/plupload-2.1.2/js/plupload.full.min.js')
